<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <!-- 日志等级 ERROR > WARN > INFO > DEBUG-->
    <!-- onMatch="ACCEPT" 表示匹配该级别及以上-->
    <!-- onMatch="DENY" 表示不匹配该级别及以上-->
    <!-- onMatch="NEUTRAL" 表示该级别及以上的，由下一个filter处理，如果当前是最后一个，则表示匹配该级别及以上-->
    <!-- onMismatch="ACCEPT" 表示匹配该级别以下-->
    <!-- onMismatch="NEUTRAL" 表示该级别及以下的，由下一个filter处理，如果当前是最后一个，则不匹配该级别以下的-->
    <!-- onMismatch="DENY" 表示不匹配该级别以下的-->
    <!--日志输出路径-->

    <logger name="com.codest.aggregatedisk" value="DEBUG"/>
    <logger name="org.hibernate.sql" value="DEBUG"/>
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" value="TRACE"/>

    <property name="LOG_HOME" value="/var/applogs"/>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%black(%d{yyyy-MM-dd HH:mm:ss} [%thread] %highlight(%-5level) %logger- %msg%n)</pattern>
        </layout>
    </appender>

    <!-- 设置默认日志级别为INFO -->
    <root level="info">
        <appender-ref ref="console"/>
    </root>
</configuration>